* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Jura', sans-serif;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
}

img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.background {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.foreground {
    width: 100%;
    height: 90%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

main {
    width: 40%;
    height: 60%;
    min-width: 450px;
    min-height: 400px;
    background-color: #151231;
    border: 3px solid #45FF41;
    position: relative;
    overflow: hidden;
}

.apollo-title {
    height: 25%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

a {
    position: absolute;
    bottom: 0px;
    z-index: 2;
}

button {
    background-color: black;
    cursor: pointer;
}

.rocket {
    position: absolute;
    width: 100%;
    height: 100%;
    top: -70px;
    left: 0;
    z-index: 1;
    opacity: 0.2;
}

.apollo-content {
    height: 75%;
    width: 100%;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

h1 {
    font-weight: bold;
    font-size: 2.2em;
}

.money {
    color: #FFEC41;
    font-weight: 500;
    padding: 0 20px;
}

.bankroll {
    color: #45FF41;
    font-weight: 500;
    padding: 0 20px;
}

.vegas {
    color: #D322FF;
    font-weight: 500;
    padding: 0 20px;
}

i {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.fa-sack-dollar {
    color: #FFEC41;
}

.fa-piggy-bank {
    color: #45FF41;
}

.departure-container {
    width: calc(100% - 40px);
    height: 100px;
    background-color: #262626;
    z-index: 1;
    margin: 0 20px;
}

.departure-header {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.departure-img {
    width: 65px;
    height: 48px;
    padding: 5px 0 0 10px;
}

.departure-title {
    color: #E6B72D;
    font-weight: bold;
    padding: 5px 0 0 15px;
    font-size: 24px;
}

.departure-category {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5px;
}

.departure-characters {
    display: flex;
    justify-content: center;
    gap: 2px;
    margin-bottom: 5px;
}

.black-box {
    width: 15px;
    height: 20px;
    background-color: #161616;
    display: flex;
    justify-content: center;
    font-weight: bold;
    overflow: hidden;
}

.black-box span {
    opacity: 0;
    transform: translateY(-20px);
    transition: 300ms;
}

h3 {
    color: #E6B72D;
}

h2 {
    font-weight: 400;
    font-size: 1.5em;
    margin: 10px 0;
}

.gros-dev-pierrot {
    color: red;
    width: 100%;
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.craquages-number {
    color: orange;
}

.stats-container {
    width: 50%;
    min-width: 300px;
    max-width: 540px;
    background-color: #1C2237;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 330px;
    overflow-y: hidden;
    position: relative;
}

.take-off-rocket {
    position: absolute;
    width: 100%;
    height: 100%;
    animation: 3s linear 1s 1 normal forwards running rocketOpacity;
}

.stats-title {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
}

.go-back {
    position: static;
}

.stats-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.historic {
    font-weight: normal;
    font-size: 1.8em;
    margin: 10px 0;
}

.month {
    font-weight: normal;
    font-size: 1.5em;
    margin: 10px 0;
    color: #D322FF;
}

.total-amount {
    font-size: 0.8em;
    color: #45FF41;
}

#amount {
    display: inline-block;
    width: 60px;
    color: #FFEC41;
}

#amountB {
    color: #45FF41;
}

p {
    margin-bottom: 10px;
}

.green {
    color: #45FF41;
}

.red {
    color: #FF0000;
}

.yellow {
    color: yellow;
}

.orange {
    color: orange;
}


@media screen and (max-width: 450px) {

    .foreground {
        height: calc(100% + 50px);
    }
    main {
        min-width: auto;
        width: 100%;
        min-height: auto;
        height: 65%;
    }

    .gros-dev-pierrot{
        font-size: 1.7em;
        word-break: break-all;
    }

    .stats-container {
        width: 100%;
    }

    .departure-container {
        margin: 0;
        width: 100%;
    }
}

@keyframes rocketOpacity {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}